a
{
    text-decoration: none;
}
header
{
    display: flex;
    position: absolute;
    height: 772px;
    left: 0px;
    right: 2px;
    top: 0px;
    background: url(assets/cover.jpg);
    background-size: 100%;
}
.header_judico
{
    position: absolute;
    width: 76px;
    height: 32px;
    left: 195px;
    top: 36px;
    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
}
.header_navbar
{
    position: absolute;
width: 280px;
height: 24px;
left: calc(50% - 280px/2 - 162px);
top: 40px;

}
ul
{
    margin: 0;
    position: absolute;
    width: 280px;
    height: 24px;
    left: calc(50% - 280px/2);
    top: calc(50% - 24px/2);

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 21px
}
#header_li1
{
    list-style-type: none;
    width: 45px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
#header_li2
{
    list-style-type: none;
    width: 45px;
    height: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
#header_li3
{
    list-style-type: none;
    width: 45px;
    height: 24px;
    flex: none;
    order: 2;
    flex-grow: 0;
}
#header_li4
{
    list-style-type: none;
    width: 45px;
    height: 24px;
    flex: none;
    order: 3;
    flex-grow: 0;
}
.header_a
{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
}
#header_sec
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 125px 0px;
    gap: 80px;

    position: absolute;
    width: 1050px;
    height: 623px;
    left: 195px;
    top: 104px;
}
#head_sec_div
{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 0px;
    gap: 35px;
    width: 1139px;
    height: 373px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
#sec_div_h1
{
    /* display: flex;
    align-items: flex-start; */
    margin: 0;
    width: 509px;
    height: 195px;
    font-family: 'Martel';
    font-style: normal;
    font-weight: 900;
    font-size: 58px;
    line-height: 65px;
    letter-spacing: 0.2px;
    color: #252B42;
    flex: none;
    order: 0;
    flex-grow: 0;
}
#sec_div_h4
{
    /* display: flex;
    align-items: center; */
    margin: 0;
    width: 376px;
    height: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #737373;
    flex: none;
    order: 1;
    flex-grow: 0;
}
#head_buttondiv
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 347px;
    height: 48px;
    flex: none;
    order: 2;
    flex-grow: 0;
}
#head_button1
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 36px;
    gap: 10px;
    width: 182px;
    height: 48px;
    background: #784F33;
    border: 1px solid #784F33;
    border-radius: 37px;
    flex: none;
    order: 0;
    flex-grow: 0;


    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;

    background-position: 100%;
    
    
}
#head_button1:hover
{
    
    color: #784F33;
   background: #FFFFFF;
}
#head_button2
{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 36px;
    gap: 10px;
    width: 155px;
    height: 48px;
    border: 1px solid #784F33;
    border-radius: 37px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #784F33;
}
#head_button2:hover
{
    
    color: #FFFFFF;
   background: #784F33;
}
#features4
{
    position: absolute;
    height: 799px;
    left: 0px;
    right: 2px;
    top: 770px;
    background: #FFFFFF;
}
#main_div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px;
    position: absolute;
    width: 1050px;
    height: 792px;
    left: calc(50% - 1050px/2 - 2px);
    top: 0px;
}
#main_div_sec
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 45px 0px;
    width: 1050px;
    height: 190px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
#div_sec_div
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 509px;
    height: 100px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
#sec_div_h2
{
    width: 419px;
    height: 50px;
    font-family:'Martel';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #252B42;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0;
}
#sec_div_p
{
    width: 431px;
    height: 40px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    flex: none;
    order: 1;
    flex-grow: 0;
}
#main_sec
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 30px;
    width: 1046px;
    height: 254px;
    flex: none;
    order: 1;
    flex-grow: 0;
}