a
{
    text-decoration: none;
}
header
{
    display: flex;
    position: absolute;
    height: 772px;
    left: 0px;
    right: 2px;
    top: 0px;
    background: url(assets/cover.jpg);
    background-size: 100%;
}
.header_judico
{
    position: absolute;
    width: 76px;
    height: 32px;
    left: 195px;
    top: 36px;
    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
}
.header_navbar
{
    position: absolute;
width: 280px;
height: 24px;
left: calc(50% - 280px/2 - 162px);
top: 40px;

}
ul
{
    margin: 0;
    position: absolute;
    width: 280px;
    height: 24px;
    left: calc(50% - 280px/2);
    top: calc(50% - 24px/2);

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 21px
}
#header_li1
{
    list-style-type: none;
    width: 45px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
#header_li2
{
    list-style-type: none;
    width: 45px;
    height: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
#header_li3
{
    list-style-type: none;
    width: 45px;
    height: 24px;
    flex: none;
    order: 2;
    flex-grow: 0;
}
#header_li4
{
    list-style-type: none;
    width: 45px;
    height: 24px;
    flex: none;
    order: 3;
    flex-grow: 0;
}
.header_a
{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
}